<% layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="row g-4 pt-4">
    <% data.forEach((list) => { %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card hotel-card shadow-sm h-100">
          <img
            src="<%= list.images?.[0]?.url || '/default/hotel.jpg' %>"
            class="card-img-top"
            alt="hotel image"
          />
          <div class="card-body d-flex flex-column">
            <h6 class="card-title mb-1"><%= list.title %></h6>
            <p class="text-muted small mb-2">
              <%= list.location.city %>, <%= list.location.state %>
            </p>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <span class="fw-semibold">
                ₹<%= list.pricePerNight %>
                <small class="text-muted">/night</small>
              </span>
              <span class="badge bg-light text-dark">
                👤 <%= list.maxGuests %>
              </span>
            </div>
            
            <% if(user){ %>
              <% if(user.role === "HOST"){%>
                <div class="mt-auto d-flex gap-2">
                  <a
                    href="/host/listing/<%= list._id %>"
                    class="btn btn-sm btn-outline-primary w-100"
                  >
                    View
                  </a>
                  <a
                    href="/host/listing/<%= list._id %>/edit"
                    class="btn btn-sm btn-outline-warning w-100"
                  >
                    Edit
                  </a>
                  <form
                    action="/host/listing/<%= list._id %>/delete"
                    method="post"
                    class="w-100"
                    onsubmit="return confirm('Are you sure you want to delete this property?');"
                  >
                    <button
                      type="submit"
                      class="btn btn-sm btn-outline-danger w-100"
                    >
                      Delete
                    </button>
                  </form>

                </div>
              <% } else {%>
                <div class="mt-auto d-flex gap-2">
                  <a href="/listing/<%= list._id %>" class="btn btn-sm btn-outline-primary w-100">View</a>
                </div>
              <% } %>
            <% } else{%>
                <div class="mt-auto d-flex gap-2">
                  <a href="/listing/<%= list._id %>" class="btn btn-sm btn-outline-primary w-100">View</a>
                </div>
              <% } %>
          </div>
        </div>
      </div>
    <% }); %>

  </div>
</body>
