<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <% if (error) { %>
                <div class="alert alert-danger text-center py-2">
                    <%= error %>
                </div>
            <% } %>
        <div class="card shadow border-0 rounded-4">
            <div class="card-body p-4">

            <!-- Profile Header -->
            <div class="text-center mb-4">
                <img 
                src="<%= user.profileImg %>" 
                alt="Profile Image"
                class="rounded-circle mb-3"
                width="120"
                height="120"
                />

                <h4 class="fw-bold"><%= user.name %></h4>
                <p class="text-muted mb-1"><%= user.email %></p>

                <span class="badge 
                <%= user.role === "ADMIN" ? "bg-danger" : user.role === "HOST" ? "bg-success" : "bg-secondary" %>
                ">
                <%= user.role %>
                </span>
            </div>

            <!-- Edit Profile -->
            <hr />

            <form action="/user/profile/update" method="POST" enctype="multipart/form-data">

                <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    value="<%= user.name %>"
                    required
                />
                <label>Name</label>
                </div>

                <div class="form-floating mb-3">
                <input
                    type="email"
                    class="form-control"
                    value="<%= user.email %>"
                    disabled
                />
                <label>Email</label>
                </div>

                <div class="form-floating mb-3">
                <input
                    type="file"
                    class="form-control"
                    name="profileImg"
                    accept="image/*"
                />
                <label>Profile Image</label>
                </div>

                <button class="btn btn-success w-100">
                Update Profile
                </button>
            </form>

            </div>
        </div>

        </div>
    </div>
    </div>

</body>
